body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(16, 178, 241, 0.4), rgba(255, 255, 255, 0.9)) no-repeat;
  background: url('../img/chocolate2.jpg') center / cover;
}

.container {
    width: 1200px;
    margin: 2% auto;
    display: flex;
    justify-content: center;
  }
  
  /* screens */
  .content .screen {
    display: none;
    margin-top: 4%;
  }
  .screen.active {
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
    font-size: 8em;
    color: rgb(242, 240, 252);
    text-shadow: 2px 2px rgba(169, 66, 238, 0.392);
    font-family: 'Crafty Girls', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Cookie', cursive;
    font-weight: 500; 
  }

  .initial-form, .quote-summary {
    height: 50vh;
    width: 35vw;
    background-color: rgba(253, 101, 177, 0.678);
    padding: 3%;
    border-radius: 10px;
    border: rgba(17, 6, 87, 0.5) solid 6px;
    display: flex;
    align-content: center;
  }

  .initial-form-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

  .input, .button, .select {
    font-size: 1.1em;
    padding: 1%;
    width: 80%;
    margin: auto;
    border: rgba(17, 6, 87, 0.7) solid 0.5px;
    color: #000;
    border-radius: 4px;
  }

  .button.is-warning, .button.is-warning {
    border: solid white 1px;
    color: rgb(17, 6, 87);
}

  .button.is-warning:hover, .button.is-warning.is-hovered {
    border: solid rgba(17, 6, 87, 0.7) 1px;
    color: #000;
}

  .submit-btn, .new-quote-btn {
    margin-top: 5%;
    width: 50%;
    font-size: 1.4em;
  }

  .content .title {
    text-align: center;
    color: rgb(17, 6, 87);
    /* font-family: 'Crafty Girls', cursive; */
  }

  .quote-summary .button {
    width: 100%;
  }

  .hidden {
    display: none;
  }

