html {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(rgb(255, 255, 255) 20%, rgba(45, 110, 209, 0.5)) no-repeat;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 1.2em;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.logo {
    padding: 1.2%;
    font-size: 4rem;
}

.category-list {
    width: 60%;
    margin: auto;
    margin-top: 2%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
}

.category-item {
    cursor: pointer;
    color: rgba(8, 42, 94, 0.9);
}

.search {
    width: 20vw;
    margin: auto;
    margin-top: 2%;
}

.search form input{
    margin: auto;
    width: 100%;
    height: 1.6rem;
    padding: 2%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 80%;
    margin: auto;
}

.video-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.video-item {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.5);
    padding: 1%;
    border-radius: 6px;
}

.video-item:hover {
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 1);
}

iframe {
    width: 100%;
    height: 100%;
    margin: auto;
}

/*(Modified) modal dialog block @see https://codepen.io/chriscoyier/pen/MeJWoM*/
.modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;

    /* Probably need media queries here */
    width: 80vw;
    max-width: 100%;
    height: 80vh;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;

    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);

    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    padding: 10px 10px 10px 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.8);
}

.modal-overlay__close {
    position: absolute;

    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;

    top: 20px;

    /* needs to look OK with or without scrollbar */
    right: 20px;

    border: 0;
    color: white;
    padding: 5px 10px;
    font-size: 3em;
    cursor: pointer;
}

.closed {
    display: none;
}

